.headeradmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #464343;
    background: white;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    height: 65px;
    position: fixed;
  }

  .company-logo-admin {
    height: 50px;
    width: 100px;
    margin-left: 4px;
}

.flowhead-admin{
  /* font-size: 1.4em; */
  margin-left: 459px;
  font-weight: bold;
  color: rgb(102, 195, 208);
}
.learnerhead-admin{
  /* font-size: 1.4em; */
  font-weight: bold;
  color: rgb(221, 97, 158);
}


.chipper-logo{
  height: 50px;
  width: 140px;
  margin-left: 520px;
}

@media (min-width: 768px) and (max-width: 1023px) {

  .flowhead-admin {
    /* font-size: 1.4em; */
    margin-left: -268px;
    font-weight: bold;
    color: rgb(102, 195, 208);
}
.headeradmin {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #464343;
  background: white;
  padding: 10px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 65px;
  position: fixed;
}
.englishheading {
  margin-left: 418px;
}
.chipper-logo{
  height: 50px;
  width: 140px;
  margin-left: 71px;
}
}

@media only screen and (max-width: 767px){

.headeradmin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #464343;
  background: white;
  padding: 10px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 65px;
  position: fixed;
}
.headeradmin
.chipper-logo {
  height: 50px;
  width: 92px;
  margin-left: -385px;
}
.englishheading {
  margin-left: 37px;
  font-size: 17px;
}

}