/* Larger desktops (Optional) */
@media (min-width: 1200px) {
  .main-forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 5px;
    height: 100vh; /* Ensure the parent container takes the full viewport height */
  }

  .heading-forgot-password{
    margin-top: 10px;
    text-align: center;
  }

  .forgot-password-card {
    border-radius: 20px;
    box-sizing: border-box;
    width: 30%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .forgot-password-card-body .forgot-password-img-div {
    margin-bottom: 4px;
    text-align: center;
  }

  .forgot-password-title {
    font-size: 20px;
  }

  .forgot-password-card-body .forgot-password-img-div img {
    height: 75px;
    width: 160px;
  }

  .send-button {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 77%;
    height: 44px;
    border-radius: 25px;
    margin: 20px;
  }
  .send-button:hover {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 77%;
    height: 44px;
    border-radius: 25px;
    margin: 20px;
}

  .input-group {
    position: relative;
    width: 84%;
    margin-left: 30px;
  }

  .email-input {
    display: block;
    width: 82%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 50px;
    margin-left: 48px;
  }

  .input-icon {
    position: absolute;
    right: 10px;
    top: 67%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: 100%;
    pointer-events: none;
    color: #ccc6c6;
    font-size: 1.5rem;
  }

  .email-label {
    margin-left: 34px;
  }

   .forgot-position-relative {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .forgot-info-icon {
    margin-left: -30px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    color:#ccc6c6;
    margin-top: 20px;
  }
  
  .forgot-info-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    font-size: 12px;
  }
  
  .forgot-info-icon:hover::before {
    content: '';
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
}

/* iPad (Tablet) styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 5px;
    margin-left: 50px;
  }

  .forgot-password-card {
    width: 28rem;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
  }

  .forgot-password-card-body .forgot-password-img-div {
    margin-bottom: 4px;
    text-align: center;
  }

  .forgot-password-title {
    font-size: 20px;
  }

  .forgot-password-card-body .forgot-password-img-div img {
    height: 75px;
    width: 160px;
  }

  .send-button {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 58%;
    height: 44px;
    border-radius: 25px;
    margin: 20px;
  }
  .send-button:hover {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 58%;
    height: 44px;
    border-radius: 25px;
    margin: 20px;
  }

  .input-group {
    position: relative;
    width: 90%;
    margin-left: 30px;
  }

  .email-input {
    display: block;
    width: 86%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 50px;
    padding-right: 40px;
    margin-left: 33px; /* Add padding to the right to make space for the icon */
  }

  .forgot-position-relative {
    position: relative;
  }

  .forgot-info-icon {
    position: absolute;
    right: 41px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc6c6;
    font-size: 1.5rem;
    z-index: 1;
  }

  .forgot-info-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    font-size: 12px;
  }

  .forgot-info-icon:hover::before {
    content: '';
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .main-forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 5px;
  }

  .forgot-password-card {
    width: 90%;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
  }

  .forgot-password-card-body {
    width: 100%;
  }

  .forgot-password-card-body .forgot-password-img-div {
    margin-bottom: 4px;
    text-align: center;
  }

  .forgot-password-title {
    font-size: 18px;
  }

  .forgot-password-card-body .forgot-password-img-div img {
    height: 75px;
    width: 160px;
  }

  .send-button {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
  }
  .send-button:hover {
    background-color: rgb(14, 158, 14);
    color: white;
    border: none;
    outline: none;
    font-weight: bold;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    margin: 20px;
  }

  .input-group {
    position: relative;
    width: 95%;
    margin: 0 auto;
  }

  .email-input {
    display: block;
    width: 88%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 45px;
    padding-right: 40px;
    margin-left: 22px; /* Add padding to the right to make space for the icon */
  }

  .forgot-position-relative {
    position: relative;
  }

  .forgot-info-icon {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc6c6;
    font-size: 1.5rem;
    z-index: 1;
  }

  .forgot-info-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    font-size: 12px;
  }

  .forgot-info-icon:hover::before {
    content: '';
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
}