.score-table-container {
  padding: 20px;
}

.score-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 85%;
  margin-left: 213px;
}

.score-table-heading {
  text-align: center;
  margin-top: 56px;
}

.score-search-input {
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 221px;
  margin-left: 70%;
}

.score_table_main {
  width: 85%;
  margin-left: 213px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f4f4f4;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
.scores_pdf {
  background-color: #0d6efd;
  border: none;
  color: white;
  padding: 11px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 127px;
}




/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .score-table-container {
    padding: 20px;
  }

  .score-table-header {
    display: flex;
  }

  .score-table-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 18px;
  }

  .score-search-input {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 221px;
    margin-left: 26%; 
   }

 
  .table-main {
    overflow-x: scroll;
    margin-right: -10px;
  }

  .score_table_main {
    width: 200%;
    margin-left: 71px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f4f4f4;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }


  .scores_pdf {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: -75%;
    cursor: pointer;
    border-radius: 4px;
  }
}

/* Mobile view */
@media only screen and (max-width: 767px) {
  .score-table-container {
    padding: 20px;
  }

  .score-table-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .score-table-heading {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 18px;
  }

  .table-main {
    overflow-x: scroll;
    margin-right: -10px;
  }

  .score_table_main {
    width: 330%;
    margin-left: 69px;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f4f4f4;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  .scores_pdf {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 21px;
    cursor: pointer;
    border-radius: 4px;
  }
  .score-search-input {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 165px;
    margin-left: -49%;
    margin-bottom: -47px;
}
}
